import math

print('''Приветствуем! Это решатор, который поможет вам с некоторыми математическими задачами
Мы можем помочь вам со следующими пунктами:
1. Решение линейных уравнений
2. Решение квадратных уравнений
3. Построение арифметической прогрессии
4. Арифметические операции с дробями
Введите номер интересующего вас пункта''')
chose = int(input())
res = 0
res2 = 0
D = 0
CorD = 0
elem_co = 1

while chose != 0:
    if chose == 1:
        print('''Общий вид линейного уравнения: ax + b = 0 
Введите значения коэффициентов a и b через пробел''')
        a, b = map(int, input().split())
        b = b * -1
        res = b / a
        print(f'Ответ: x = {res}')
    elif chose == 2:
        print('''Общий вид квадратного уравнения: ax^2 + bx + c = 0
Введите значения коэффициентов a, b и c через пробел''')
        a, b, c = map(int, input().split())
        D = (b ** 2 - 4 * (a * c))
        if D < 0:
            res = 'Данное уравнение не имеет решений'
            print(res)
        elif D == 0:
            res = (b * -1) / (2 * a)
            print(f'Ответ: x = {res}')
        elif D > 0:
            CorD = math.sqrt(D)
            res = ((b * -1) - CorD) / (2 * a)
            res2 = ((b * -1) + CorD) / (2 * a)
            print(f'Ответ: x1 = {res2}, x2 = {res}')   
    elif chose == 3:
        print('Введите значение первого элемента прогрессии')
        elem = int(input())
        print("Введите значение разности между соседними элементами")
        step = int(input())
        print('''Выберите один из трех пунктов, введя соответствущий номер
1. Вывести все элементы прогрессии
2. Вывести номер элемента прогрессии, равного определенному значению
3. Вывести значение элемента прогрессии под определенным номером''')
        chose_in = int(input())
        if chose_in == 1:
            print('Введите количество элементов в прогрессии')
            colvo = int(input())
            print("Получившая арифметическая прогрессия:")
            print(elem, end=' ')
            for i in range(colvo - 1):
                elem += step
                print(elem, end = ' ')
            print()
        elif chose_in == 2:
            print("Введите значение элемента прогрессии:")
            elem_n = int(input())
            while elem < elem_n:
                elem += step
                elem_co += 1
            if elem == elem_n:
                print(f"Элемент со значением {elem_n} находится под номером {elem_co}")
            else:
                print("В прогрессии нет такого элемента(")
        elif chose_in == 3:
            print('Введите номер элемента прогрессии:')
            elem_nomer = int(input())
            for i in range(elem_nomer - 1):
                elem += step
            print(f'Элемент под номером {elem_nomer} имеет значение {elem}')
    elif chose == 4:
        print('Введите числитель и знаменатель первой дроби через пробел')
        a, b = map(int, input().split())
        print('Введите числитель и знаменатель второй дроби через пробел')
        c, d = map(int, input().split())
        print('''Введите номер операции, которую вы хотите применить к данным дробям
1. +
2. -
3. *
4. /''')
        chose_in = int(input())
        if chose_in == 1:
            if b > d:
                k = a // 3
                res = k + c
                print(f'{a}/{b} + {c}/{d} = {res}/{d}')
        elif chose_in == 2:
            if b > d:
                k = a // 3
                res = k - c
                print(f'{a}/{b} - {c}/{d} = {res}/{d}')
        elif chose_in == 3:
            if b > d:
                k = a // 3
                res = k * c
                print(f'{a}/{b} * {c}/{d} = {res}/{25}')
        elif chose_in == 4:
            if b > d:
                k = a // 3
                res = k * c
                print(f'{a}/{b} / {c}/{d} = {1}/{3}')
    print('''_______________________________________________________________________________________
1. Решение линейных уравнений
2. Решение квадратных уравнений
3. Построение арифметической прогрессии
4. Арифметические операции с дробями
Введите номер интересующего вас пункта или 0, если хотите завершить работу с программой
Благодарим вас за использование нашего сервиса! До встречи!''')
    chose = int(input())
    
